[2017-07-19 08:48] marnovo opened #40 "snippet-ranger: test and analyze the results"
EPIC: https://github.com/src-d/backlog/issues/865

[2017-07-19 08:54] marnovo opened #41 "snippet-ranger: Write the code to find the best snippet to display"

[2017-07-19 08:56] marnovo opened #42 "snippet-ranger: create proof-of-concept"

[2017-07-19 10:48] marnovo opened #43 "Neural Code Completion: Feature extraction"
EPIC: https://github.com/src-d/backlog/issues/882

Extract the surrounding subtree, extract useful insights from it.

[2017-07-19 10:51] marnovo opened #21 "Neural code completion: write libraries to train and run models"

[2017-07-19 10:53] marnovo opened #23 "Neural code completion: write blog post"

[2017-07-19 11:18] marnovo opened #24 "UAST node role rec: Swivel and other embeddings"
EPIC: https://github.com/src-d/backlog/issues/858

Story: *"As  a data scientist or developer, I want the best tradeoff of trained models that can suggest node roles for a given UAST."*

- [x] Train Swivel
- [x] GloVe
- [ ] co-occurrence matrix extraction using node2vec

[2017-07-19 11:18] marnovo opened #25 "UAST node role rec: dataviz + blog post"
EPIC: https://github.com/src-d/backlog/issues/858

Story: *"As  a data scientist, developer or Babelfish driver developer, I want to learn and visualize the results from node role recommendation, so that I can use this knowledge to build new Babelfish drivers or projects from it."*

- [ ] Visuals
- [ ] Blog post

[2017-07-19 11:18] marnovo opened #26 "UAST node role rec: node role recommendation PoC"
EPIC: https://github.com/src-d/backlog/issues/858

Story: *"As a Babelfish driver developer I want a tool which can suggest role nodes on UASTs so this can help find bugs and speed up development of Babelfish drivers."*

[2017-07-19 11:19] marnovo opened #27 "UAST node role rec: release of datasets, libraries, model"
EPIC: https://github.com/src-d/backlog/issues/858

Story: *"As a data scientist, general developer or Babelfish developer I want to have access to the datasets, libraries and models used to suggest node roles in UASTs, so that I can use it to build new Babelfish drivers or projects using them."*

[2017-08-01 14:59] vmarkovtsev opened #39 "Discuss ML meetup"
Story: *As a MLoSC enthusiast, I want to stay aware of the recent research and advances in the field and meet with people alike, so that I do my job better.*

- [x] Prepare for this meetup specifically
- [x] Create a script for future meetups

[2017-08-02 08:57] vmarkovtsev opened #38 "Neural code completion: explore CNN preprocessing"
EPIC: #882

Tim: CNN preprocessing layers can speedup the LSTM training. We need to investigate the fusion of treeCNN + treeLSTM https://deepmind.com/blog/wavenet-generative-model-raw-audio/

[2017-08-17 10:10] marnovo opened #37 "Neural code completion - Prepare docker image for tree approximation"
EPIC: #882

Story: *"As a data scientist, I want to be able to reproduce the research easily so that I can validate the results and build other things on top of it."*

**Tree Approximation**

[2017-08-17 10:52] marnovo opened #36 "UAST node role vec: Compare different embeddings"
EPIC #858

Story: *"As a machine learning engineer I want to know the quality of different embeddings to compare how different approaches fare to my problem."*

- [x] Selection of the most appropriate comparison approaches for embeddings.
- [x] Evaluation of the selected approaches.

[2017-09-07 15:47] vmarkovtsev opened #35 "snippet-ranger: collect stats on ecosystem core's identifiers"
As discussed on 09.07, we need the identifier usage stats to determine the best way to move forward.

For each of the ecosystem, we take the core project, extract function and class names. For every token, we measure the number of times it is used in the other projects and plot the distribution.

[2017-09-13 12:45] vmarkovtsev opened #34 "snippet-ranger: Recollect the dataset with new bblfsh"
EPIC: #865
bblfsh driver updated so we need to collect the UASTs again.

[2017-09-21 10:20] vmarkovtsev opened #33 "snippet-ranger: Package and docker"
Epic: #865

- [ ] Python package on PyPi
- [ ] Dockerfile

[2017-10-18 09:40] marnovo opened #32 "Add new features and improve Modelforge"
- [x] Add the supported features from index.json
- [x] Switch the index storage from GCS to GitHub
- [x] Improve the versioning

[2017-10-27 06:18] vmarkovtsev opened #31 "apollo: Documentation of Gemini project"
Story: *"As a researcher or developer I want to understand what is, how to use and the underlying theory/research behind the Gemini duplicate/similar code detection reference implementation, so that I can see if it's relevant to me and how can I apply to my research/application problem, as well as to contribute to it."*

[2017-11-29 11:54] vmarkovtsev opened #20 "apollo: Write tests"

[2017-12-20 10:30] marnovo opened #19 "[id2vec] Paper submission - Machine Learning for Programming (ML4P)"
Story: *"As a source{d} engineer I want to spread the reach of our work and its influence over key influencers in the academic area of source code analysis/machine learning on source code so that we are taken more seriously by the community and become the standard for datasets/tools on this field."*

Topics and format at: http://ml4p.org/

Submission site: https://easychair.org/conferences/?conf=m

[2018-02-14 14:42] vmarkovtsev opened #17 "[id2vec] Run id2vec on Public Git Archive"
Run id2vec on PGA dataset and produce the model. Publish the model with modelforge. Fix all the found bugs.

Includes updating the Dockerfile for Python3 and infra issues.

[2018-02-14 16:00] vmarkovtsev opened #16 "[research] Papers in 2018"
Papers we will love:

- [x] [Efficient K-Nearest Neighbor Graph Construction for Generic Similarity Measures.](http://www.cs.princeton.edu/cass/papers/www11.pdf)
Wei Dong, Moses Charikar Kai Li
- [ ] [BagMinHash – Minwise Hashing Algorithm for Weighted Sets.](https://arxiv.org/pdf/1802.03914.pdf)
Otmar Ertl
- [ ] [Efficient and robust approximate nearest neighbor search using Hierarchical Navigabl

[2018-04-03 10:03] vmarkovtsev opened #29 "Publish garbage code dataset"
EPIC: https://github.com/src-d/backlog/issues/1215

Once #1243 is done, we

- [ ] Push the dataset to a GitHub repo
- [ ] Add the CSV index
- [ ] Record in src-d/datasets
- [ ] Post on Kaggle/data.world
- [ ] Twitter

[2018-04-18 13:14] vmarkovtsev opened #11 "[id-split] Blog post"
Follows up #1212

Write the blog post about identifiers dataset and the identifier splitting paper.

[2018-04-18 13:18] vmarkovtsev opened #10 "[id-split] Source code to GitHub"
Follows up #1177

- [x] Push the training code to src-d/ml
- [x] Push the trained model in Tensorflow PB format to Modelforge and use it in src-d/ml
- [x] Use the model to split identifiers in sourced-ml

[2018-08-22 12:10] vmarkovtsev opened #8 "Port sourced.ml and style-analyzer to bblfsh.v2"
LA team have recently released Babelfish UAST v2, we need to port our projects.

[2018-08-23 10:07] vmarkovtsev opened #7 "Extract ML Lookout Python SDK from style-analyzer"
- [x] Find a good name
- [x] Create a new repository
- [x] Transplant the source code
- [x] Publish to PyPi

[2018-09-06 17:48] vmarkovtsev opened #6 "Revive the dataset publishing"
I have just realized that there are so many pending datasets that I lost the count already. I am going to do the following:

- [x] Gather the list of datasets to publish.
- [x] Upload them to Google Drive if they are not too big; otherwise, ask the management for help. This may still involve increasing the disk quota to 1TB.
- [x] Publish them on src-d/datasets and data.world/source-d

Please post

[2018-09-07 16:21] zurk opened #5 "[id2vec] Collect Role-Identifier dataset on full PGA"
Now I have a small piece of this dataset for tests as reported here: https://github.com/src-d/backlog/issues/1248#issuecomment-398319941
@vmarkovtsev wants to publish all datasets we have right now (https://github.com/src-d/backlog/issues/1310), so it is a good opportunity to collect full Role-Identifier dataset.

[2018-09-26 14:04] vmarkovtsev opened #4 "List problems during style-analyzer development"

[2018-10-10 13:46] vmarkovtsev opened #3 "Modernize and flakify"
Run pyupgrade (version 1.8+) over our Python repos.

Add more flake8 checks:

* flake8-bugbear
* flake8-docstrings
* flake8-quotes

https://github.com/src-d/style-analyzer is an example.

The changes should be in 3 separate commits:

1. pyupgrade
2. bugbear + quotes
3. docstrings

[2018-10-17 10:43] vmarkovtsev opened #2 "[code] Format all ML README-s to hipster style"
And now something really important to do: we need to format all our ML README-s to the fancy hipster centered style using embedded HTML. Example: https://github.com/sharkdp/bat

How to align headers:

[code]

<h1 align="center">Header</h1>

[2019-01-08 13:46] vmarkovtsev opened #1 "[style-analyzer] Run reports with various HP constraints"
- Try to reduce the number of rules and inspect how the metrics worsen
- Repeat the default report without attr pruning

Would be nice to measure ~10 dots so that we can plot a graph in the paper.

@zurk consults, @m09 performs. science-3 can bear around 15 parallel instances.

[2019-01-08 14:25] #4 closed, assigned to nobody

[2019-01-08 14:27] #7 closed, assigned to vmarkovtsev

[2019-01-08 14:30] #11 closed, assigned to EgorBu, vmarkovtsev, warenlg

[2019-01-08 14:31] vmarkovtsev opened #13 "[apollo] Blog post about tuning the deduplication parameters"
Follows https://github.com/src-d/backlog/issues/1197

[2019-01-08 14:32] vmarkovtsev opened #14 "[garbage code] Publish dataset"
EPIC: #1215

Once #1243 is done, we

- [ ] Push the dataset to a GitHub repo
- [ ] Add the CSV index
- [ ] Record in src-d/datasets
- [ ] Post on Kaggle/data.world
- [ ] Twitter

[2019-01-08 14:32] vmarkovtsev opened #15 "[garbage code] Blog post about garbage code project"
Should describe the problem, classify the code which we found and ask for help.

Follows #1243

[2019-01-08 14:32] #15 closed, assigned to nobody

[2019-01-08 14:47] #20 closed, assigned to EgorBu, vmarkovtsev

[2019-01-08 14:49] #21 closed, assigned to EgorBu

[2019-01-08 14:50] marnovo opened #22 "Neural code completion: create proof of concept"

[2019-01-08 14:50] #22 closed, assigned to nobody

[2019-01-08 14:50] #23 closed, assigned to EgorBu

[2019-01-08 14:52] #24 closed, assigned to nobody

[2019-01-08 14:52] #25 closed, assigned to nobody

[2019-01-08 14:54] #26 closed, assigned to nobody

[2019-01-08 14:55] #27 closed, assigned to nobody

[2019-01-08 14:58] vmarkovtsev opened #30 "code-completion: Meeting to learn how everything works"
EPIC: #882
Egor shows the rest of ML team how to run and train the models from #1064
Vadim merges the PR after the meeting (or requests changes).

[2019-01-08 14:58] #30 closed, assigned to nobody

[2019-01-08 15:03] #31 closed, assigned to EgorBu, vmarkovtsev

[2019-01-08 15:04] #32 closed, assigned to vmarkovtsev

[2019-01-08 15:05] #33 closed, assigned to nobody

[2019-01-08 15:05] #34 closed, assigned to nobody

[2019-01-08 15:07] #35 closed, assigned to zurk

[2019-01-08 15:10] #36 closed, assigned to nobody

[2019-01-08 15:12] #37 closed, assigned to EgorBu

[2019-01-08 15:13] #38 closed, assigned to EgorBu

[2019-01-08 15:15] #39 closed, assigned to mcuadros, vmarkovtsev

[2019-01-08 15:21] #40 closed, assigned to zurk

[2019-01-08 15:23] #41 closed, assigned to zurk

[2019-01-08 15:24] #42 closed, assigned to zurk

[2019-01-08 15:25] #43 closed, assigned to EgorBu

[2019-01-08 16:26] #19 closed, assigned to zurk

[2019-01-09 07:30] zurk commented on #5
Since we have jgit-spark-connector (former sourced-engine) deprecated, first we should rewrite sourced-ml and after that, we can collect dataset.

[2019-01-10 11:40] EgorBu opened #44 "[basic feature extractor] Tokenizer"
Feature extraction for source code heavily relies on tokenization of source code and structure information in many tasks. If we want to use suggestion feature at GitHub we must use tokenized code.
This part is very important for everybody in MLonCode area and still it's quite complicated to do.
Proposal - extend bblfsh client or make new module that could be used by many different projects.

### T

[2019-01-10 12:20] zurk commented on #44
Right now we have tokenizer for JS in style-analyzer:
https://github.com/src-d/style-analyzer/blob/a0eaafd5b371433e3c2e3dc9d113710814912f99/lookout/style/format/feature_extractor.py#L655-L656

If we start this project, this code should be considered as an entry point.

[2019-01-10 16:29] vmarkovtsev opened #46 "Sync all the labels in our projects"
As discussed in https://github.com/src-d/minutes/pull/425

[2019-01-10 16:54] vmarkovtsev commented on #46
https://github.com/src-d/minutes/pull/425#discussion_r246834528

[2019-01-16 12:08] m09 commented on #1
Results are out for the first batch: https://gist.github.com/m09/fb0292645fa12002775cea22bbee838f

They indicate clearly that we should regularize aggressively with min_samples_leaf. I'll launch another batch to go higher than 50 so that we have a better picture of the tradeoff.

[2019-01-30 11:57] warenlg opened #47 "[style-analyzer] Open PRs to demo the analyzer's suggestions"
Related to https://github.com/src-d/feature-idea/issues/86

Once style-analyzer rc5 is released, follow https://github.com/src-d/style-analyzer/blob/master/doc/how-to/demo.md with nodejs/node repo, open several PRs where the analyzer suggest meaningful fixes

[2019-02-01 10:53] m09 commented on #1
Results are available in the paper in the [min-samples-leaf.pdf](https://github.com/src-d/ml-backlog/files/2821251/min-samples-leaf.pdf) figure.

[2019-02-01 10:53] #1 closed

[2019-02-01 10:59] m09 commented on #1
It seems either GH upload or overleaf download has an implicit conversion step, so it's not pdf but png. (and I can't reupload because it's the same file).

[2019-02-21 11:46] vmarkovtsev opened #48 "[style-analyzer] Prepare the demo sample"
As requested by @vcoisne in #lookout-demo channel on Slack, we need to pick a great example of how style-analyzer fixes formatting faults.

[2019-02-22 14:25] zurk commented on #48
So, I take the repo where style-analyzer shows the best performance according to our quality report.
Then I roll back master to ~10 commits and make a one PR from all these commits with style mistakes.
Of course, I filter out some changes that lead to bad suggestions (shame on me) because we want "a great example".

That what I have in the end:
https://github.com/zurk/axios/pull/1/files
I like how

[2019-02-22 14:53] vmarkovtsev opened #49 "Publish the dataset of labeled duplicates from Apollo"
Publish it to src-d/datasets

[2019-02-25 13:25] m09 opened #50 "KTH collaboration"
I am going to visit [Martin Monperrus](https://www.monperrus.net/martin/)'s lab in Stockholm in March. Their work is closely related to what we are currently doing and we should prepare this trip carefully. In particular and non-exhaustively, we should go through the following points:

- which project could we work on together? (papers, software, workshop organization, competition, etc)
- what ele

[2019-02-25 13:25] m09 commented on #50
cc @vmarkovtsev

[2019-02-25 15:02] zurk commented on #48
long story short, ML team make a deployment to staging, but there are some issues that are not solved yet (https://github.com/src-d/lookout/issues/500) and I can not get comments from staging. However,  @campoy has an emergency lookout deployment for the lookout-demo project. We need to deploy style-analyzer `v0.1.1`  there

[2019-02-26 14:31] zurk commented on #48
@vcoisne I consider this issue as done because the example was provided.
Now the issue is in a style-analyzer deployment to special lookout-demo server that @campoy has for this project if you want to have comments by lookout itself.

[2019-02-26 14:31] #48 closed

[2019-03-06 10:32] warenlg opened #51 "[research] Prepare the camera-ready-version of the style-analyzer paper"
The style-analyzer paper located in overleaf has been accepted to MSR'19 in the Tool track. It has been reviewed by 3 academics and the comments should be addressed before submitting the camera-ready version of the paper.
Deadline: March 15, 2019, 23:59 AoE

[2019-03-06 10:33] warenlg commented on #51
## List of review comments to address

### General and Inescapable

* [ ] The paper has to be formatted according to https://www.ieee.org/conferences/publishing/templates.html
* [ ] Respect page limits (10p without references and appendices)
* [ ] List of authors
* [ ] Validate the title
* [ ] Removed anonymized information for double-blind purposes
* [ ] Wait for the instructions of the publisher

[2019-03-06 11:04] m09 commented on #51
Regarding authors: since this is now a tool paper and `Lookout` is a major part of the paper, I feel that we should include team members from @src-d/applications (if they want to be listed of course).

[2019-03-12 17:37] bzz commented on #51
If that would be possible, I think it's reasonable to try to include top#4 contributors from https://github.com/src-d/lookout/graphs/contributors

[2019-03-14 18:39] EgorBu commented on #51
TBH - I would love to mention much more people because it's definitely great work of all source{d}. And there are some papers with 1000s of authors like [that](https://www.nature.com/news/physics-paper-sets-record-with-more-than-5-000-authors-1.17567).

[2019-03-14 18:56] vmarkovtsev commented on #51
done

[2019-03-14 18:56] #51 closed

[2019-03-14 20:43] m09 opened #52 "Meta-learning experiments"
Here are the steps I want to go through to test out the meta-learning idea:

- [ ] Extract format analyzer parser (bblfsh + operator, whitespace and special cases handling)
- [ ] Transform parsed files (virtual nodes + uast) into a graph
- [ ] Create a R-GCNN with either [PyTorch Geometric](https://rusty1s.github.io/pytorch_geometric/build/html/index.html) or [Deep Graph Library](https://github.co

[2019-04-02 10:18] EgorBu opened #53 "[typos] Create dataset for evaluation of typos analyzer"

[2019-04-08 13:57] EgorBu opened #54 "Research what the ML team can deliver for best practices analyzer"
As a researcher in the area of MLonCode I want to know how to find best practices in 1000s of repositories - and how to utilize this information.

[2019-04-08 13:57] EgorBu commented on #54
A possible way to do it :
* collect statistics (ex: number of arguments per function, complexity, number of functions in a class, number of lines in file, number of files in a directory, etc - whatever we can extract with `jgit-spark-connector`/`gitbase`).
* analyzer will notify developer if his code is an outlier based on collected statistics.
* OPTIONAL: write blog post about collected statistic

[2019-04-09 15:34] glimow commented on #10
taking up this issue as first task.
- [x] Push the training code to src-d/ml
- [ ] Push the trained model in Tensorflow PB format to Modelforge
- [ ] Use the model to split identifiers in sourced-ml (integrate in src-d/ml)

[2019-04-10 15:30] warenlg opened #55 "[research] MSR blog posts planning"
This year, @vmarkovtsev, @m09 and I are going to attend [MSR](https://conf.researchr.org/home/msr-2019) taking place in Montreal on the 26th and 27th of May 2019. As discussed with @vcoisne, given the success of the MSR interview series, we should think about producing similar contents spending less efforts ("aka nightmare" *Vadim*).

We agreed on the following proposal that would not require much

[2019-04-10 15:37] warenlg commented on #55
Below is the list of technical papers (no data showcase papers yet) that are the most relevant IMO according to MLonCode and what we do. In bold, you have authors that we already know personally.

We can vote with the tick boxes among those papers, the ones that are worth taking notes. The first tick box is Vadim, than Hugo, then mine. If other people want to vote please add your name here and an

[2019-04-10 15:40] warenlg commented on #55
## Sunday 26th

### Session I: Representations for Mining - Room 1

* 11:16 - 11:22 (short) [PathMiner : A Library for Mining of Path-Based Representations of Code](https://zenodo.org/record/2595271#.XI0rPdiEZ-E) - **Vladimir Kovalenko**, Egor Bogomolov, **Timofey Bryksin**, **Alberto Bacchelli** *from JetBrains Research and University of Zurich*
* 11:23 - 11:38 (long) [Import2vec: learning embedd

[2019-04-11 10:23] bzz commented on #55
Just FYI - I would be very happy to help with any of those, so please let me know if any help is needed.

[2019-04-11 12:54] vmarkovtsev opened #56 "Deploy Ray and Dask to ML cluster"
We should have fully functional [Ray](https://github.com/ray-project/ray) and [Dask](https://github.com/dask/dask) in our Kubernetes-based ML cluster.

- [ ] Debug the local setup using [`minikube`](https://kubernetes.io/docs/setup/minikube/).
- [ ] Ask the infra team to deploy to the cluster, work with them.

[2019-04-16 11:13] zurk commented on #53
The point of this issue is to have GitHub-independent dataset for typos.
Right now we have an [index file](https://github.com/src-d/style-analyzer/blob/master/lookout/style/typos/benchmarks/data/commits_with_typo.csv.xz) with repository URL and commits information.

However, if someone delete repository or hide it we unable to download it and feed to typos analyzer.
So, we should save files with t

[2019-04-16 11:25] zurk opened #57 "[dataset] Improve typos dataset quality"
After we have the final dataset collected we should improve our filtering tool: https://github.com/src-d/style-analyzer/blob/master/lookout/style/typos/research/eval_dataset/prepare_dataset.py

There are still many "typos" where `-ed` or `-s` ending was changed.
One of the ways is to use stemmer to base and changed tokens (identifier parts) to see if there any real difference in it. But we should

[2019-04-16 17:04] irinakhismatullina commented on #57
I haven't checked the exact numbers, I only know that great part of wrong corrections comes from such cases.

Here're the first several wrong corrections:

pos|wrong|sugg 0|correct
----|-----|------|------
4|RightSingleQoutationMark|RightSingleRotationMark|RightSingleQuotationMark
5|specifiyHeaders|specificHeaders|specifyHeaders
6|getFeatures|getFeatures|getFeature
15|SupportTypes|SupportTypes|Sup

[2019-04-23 11:04] zurk opened #58 "Describe how we publish datasets"
We do not have any guide about datasets publishing and it is worth to create it. The point of this PR is to describe how do we publish datasets right **now** to help newcomers better understand how to do it.

Resources that should be taken into account:
1. [Draft design document "Documenting Models, Datasets, and Algorithms"
](https://docs.google.com/document/d/1EbwfOd4UpVXCprW-9ApPhX-HN6PXHODVbKj

[2019-04-23 11:07] zurk opened #59 "Describe how we publish modelforge models"
We do not have any guide about models publishing and it is worth to create it. The point of this PR is to describe how do we publish models right **now** to help newcomers better understand how to do it.

Resources that should be taken into account:
1. [Draft design document "Documenting Models, Datasets, and Algorithms"
](https://docs.google.com/document/d/1EbwfOd4UpVXCprW-9ApPhX-HN6PXHODVbKj4ajJ

[2019-04-23 12:11] vmarkovtsev commented on #53
@EgorBu Please update here

[2019-04-23 12:56] EgorBu commented on #53
929 samples are available offline:
* CSV file with information about the initial repository (`org/name`, commits, etc) + information about the relative path in archive
* repo archive
* each offline repository contain only 2 commits - first is before typo was introduced, second - the introduction of typos

If you have any requirement before publishing dataset - feel free to suggest.

[2019-04-25 10:20] vmarkovtsev commented on #49
Done as https://github.com/src-d/datasets/blob/master/Duplicates

[2019-04-25 10:20] #49 closed

[2019-04-25 10:22] vmarkovtsev commented on #2
Cancelled.

[2019-04-25 10:22] #2 closed

[2019-04-25 10:23] vmarkovtsev opened #60 "Play with Apache Superset"
Discover how Superset works: https://superset.incubator.apache.org/

[2019-04-25 10:24] vmarkovtsev opened #61 "Test bblfsh client v3"
We expect to have some difficulties while using new bblfsh client so it is better to test it beforehand

[2019-04-25 10:24] vmarkovtsev opened #62 "[code] Codebase analysis notebook generator"
As suggested in https://github.com/src-d/minutes/pull/547

[2019-04-25 10:29] Guillemdb commented on #62
These are a few tools that may come in handy to whoever is in charge of this.
- [Panel](http://panel.pyviz.org/) For building a home-maed notebook-hosted superset.
- [Holoviews](http://holoviews.org/) for quickly prototyping interactive plots.
- [DataShader](http://datashader.org/) for visualizing big datasets without blowing up your browser.

[2019-04-25 10:58] zurk commented on #47
There was a few repos and PRs in it to fulfill the issue: https://github.com/lookout-demo

@vmarkovtsev I think we should close it as outdated.

[2019-04-25 11:01] zurk commented on #14
Exact duplicate of https://github.com/src-d/ml-backlog/issues/14

[2019-04-25 11:01] #14 closed

[2019-04-25 11:04] zurk commented on #13
the exact duplicate of https://github.com/src-d/ml-backlog/issues/28

[2019-04-25 11:04] #13 closed

[2019-04-25 11:06] zurk commented on #16
ok, @vmarkovtsev it is a useless issue. let's close it because we have a paper reading club and read papers for it.

[2019-04-25 11:20] vmarkovtsev commented on #16
cc @m09

[2019-04-25 11:20] #16 closed

[2019-04-25 12:35] m09 commented on #16
I've looked at those already, thanks for the cc :)

[2019-04-28 02:41] vmarkovtsev commented on #62
Everything seems much easier. Just add parameters with https://github.com/nteract/papermill and that's it.

[2019-05-07 13:59] vmarkovtsev opened #63 "[code] Name CI tasks in ML projects"
It is possible to name CI tasks using `name:` key. Example: https://github.com/src-d/style-analyzer/blob/master/.travis.yml#L96

We should name all our tasks in all our projects.

[2019-05-08 13:10] warenlg opened #64 "[research] Provide a report about the studied papers/books around the developer observability topic"
As regards Eng. Observability using ML, the following points have been identified as potential future work directions:
* Gemini: see how much depends on each particular language, re-evaluate weights for UASTv2
* Repository, developer grouping, clustering by several criteria
    * Coding style
    * Languages: ratio, amount
    * Topics
    * Imports
* Developer profiling
* Burndown (project, file,

[2019-05-14 11:12] r0mainK opened #65 "Use imports as a mean to associate developers and projects"
## Context

As seen in [this paper](https://homepages.dcc.ufmg.br/~mtov/pub/2019-msr.pdf), a way to identify expert in a project is to look at their commit history - more precisely to look at features involving imports of said project (in other projects). The idea is that if developers import a library a lot, then they have expertise in that import.

## Task

Create import graphs from a project/se

[2019-05-14 11:39] zurk opened #66 "Learn Golang"
It looks like we will work with Go much more than before, so it forth to study it beforehand.

Entry point: https://tour.golang.org/welcome/1

@vmarkovtsev if you can suggest some resources to learn Go fast please do.

[2019-05-14 11:50] zurk opened #67 "Launch and play with gitbase spark connector"
Launch gitbase spark connector on ~10 repos and get any dataset you want: identifiers, number of commits per developer, the average time between commits, etc.

Report any issues you found and link it to this issue.

We need it to be all on the same page and understand gitbase spark connector limitations and features.

[2019-05-14 11:54] zurk opened #68 "Read Software design x-rays book"
Software design x-rays book is important for our further development so you should read it.

@src-d/research-machine-learning if some of you missed the book, feel free to assign you by yourself.

[2019-05-16 08:55] EgorBu opened #69 "Identity matching"
As developer/researcher who wants to analyze code bases, I want to be able to identify developers based on information available from git history.

Identity matching is an important problem for almost any possible customer.
Whenever we will use code bases from different companies - we will meet issues that the same developer uses different names/emails in commits.
We should be able to handle this

[2019-05-20 14:03] r0mainK commented on #65
I have written the feature extraction (for projects). I used it to extracts graphs per language for all of the source{d} repositories. Will upload visualizations and gist soon. I don't expect the feature extraction to be much different when extracting from specific commits. One thing to note is that, depending on the language, the xpath/attribute to provide in the query is not the same:

- **Pytho

[2019-05-20 14:30] vmarkovtsev commented on #65
@creachadair When do you plan to converge to a single import query?

[2019-05-20 14:57] creachadair commented on #65
+ @dennwc for a reality check on what I've said here.

We don't have a specific date for this feature yet, but imports are one of several structures we plan to normalize as part of the semantic (canonicalized) UAST. For now, it's obviously complicated because of the language differences.

I think this (and several other structural normalizations) will need some schema additions and then a bunch of

[2019-05-20 23:43] dennwc commented on #65
Let me clarify this in details. Sorry about the long post, but please take some time to read it carefully.

First, the structure you see is already normalized in regards to imports. We may have some bugs in normalization, but apart from it, the normalization is already done according to a few strict rules that we have in UASTv2 schema.

Let me now answer some implicit questions from the above:

##

[2019-05-20 23:52] dennwc commented on #65
Now, a short practical part about how to deal with imports right now. I suggest to first query all imports with `//uast:Import | //uast:RuntimeImport | //uast:InlineImport` and then examine each object's `Path` field and extract information that you need. It will be easier than trying to deal with all the cases in XPath.

If I understood the intention correctly, you need to check the `Path` field

[2019-05-21 05:23] eiso commented on #65
@dennwc thank you very much for this detailed explanation, I learned a lot from it as well. We should remember to copy paste this and edit it into our documentation one day.

[2019-05-21 09:36] EgorBu commented on #69
Pair programming issue https://github.com/src-d/feature-idea/issues/144

[2019-05-21 12:06] vmarkovtsev commented on #69
I started the dataset collection again on the ML cluster, if it does not get killed in 1 hour - it will finish by the next week.

[2019-05-21 12:54] vmarkovtsev commented on #65
@dennwc Thanks, this was insightful.

Regarding https://github.com/src-d/ml-backlog/issues/65#issuecomment-494189434 is it possible to add this function to the Python client, since we are going to use it extensively from different packages and we do not really wish to support it? Getting such imports is indeed of big importance, and not only for this issue.

Our ML tasks always require one of the

[2019-05-21 23:38] dennwc commented on #65
@vmarkovtsev I think the Semantic UAST is still in line with that past discussion - the query is as simple as `//uast:Import | //uast:RuntimeImport`. The structure is the same for every language, and as I mentioned, it is a generic (non-lossy) way to represent most import features including local imports and aliases. There is no more 50-100 LoC for each language, there is only one function with a

[2019-05-22 05:48] vmarkovtsev commented on #65
The problem with the function can be that it is impossible to use it in gitbase without writing the wrappers... That's something we are going to do as well. I've got an idea: what if we hack the XPath and add `uastX:EasyImports`, `uastX:EasyIdentifiers`, etc.?

[2019-05-22 06:09] dennwc commented on #65
@vmarkovtsev This can be done, but citing my comment above:

The code in XPath will be insanely hard to maintain if we will try to hack it in a performant manner.

We can do it in a "slow" way, but then all queries will run twice slower. This is because we will do multiple passes over a single tree: one in normal mode and one in "easy" mode. In general, there is no way to find out if your query ex

[2019-05-22 06:19] dennwc commented on #65
There is another hack that we can do: add a post-processing step for UAST and re-project all the implicit fields from the schema. So `uast:Import` will have a fake `gen:Path` field with a concatenated import path, for example.

[2019-05-22 09:07] r0mainK commented on #65
Personally I would rather keep the current structure of the UAST without loss of information or speed. As Denis outlined in his two first comments, the splits between imports that exist make sense - it is simply missing in the documentation of Babelfish, hence my initial hacky approach.

I think the best idea would be to integrate it in an API part of the Python client - I'm not sure it would make

[2019-05-22 09:37] zurk commented on #68
done for me, thanks to notes that research team prepared, so I deassign myself.

[2019-05-22 09:45] zurk commented on #57
@irinakhismatullina I think this one is done in https://github.com/src-d/style-analyzer/pull/763, right?

[2019-05-22 09:47] irinakhismatullina commented on #57
Most part of it, yes. I've removed as much bad examples as possible, so that not to remove any real typos. In the future we may need more filtering, but for now imo it's done.

[2019-05-22 09:47] #57 closed

[2019-05-22 10:05] zurk commented on #5
@vmarkovtsev I do not think this dataset add any value for us now.
Let's close this issue as outdated?

[2019-05-22 10:53] vmarkovtsev commented on #5
Actually no, this is still important and valuable. Once we copy PGAv2 in https://github.com/src-d/infrastructure/issues/788 we should extract the dataset. It is fine to write some ad-hoc code for that.

[2019-05-22 15:09] Guillemdb commented on #68
I'm also done with the book since last week. I'm deasigning myself also.

[2019-05-23 10:14] warenlg opened #70 "[talk] Compile the presentation for MSR'19"
The program has been published, we have a 15 min slot https://2019.msrconf.org/program/program-msr-2019?date=Mon%2027%20May%202019. Let's make the slides.

The slides, coded in HTML5, have to be pushed here https://github.com/vmarkovtsev/shower-presentations/tree/msr-2019-montreal. The task is currently distributed that way:
- 1 slide about the business problem - Vadim
- No more than 3 slides abou

[2019-05-23 12:22] zurk commented on #60
Done for me. I also give a try for https://github.com/src-d/superset-compose and It looks solid 💪

[2019-05-23 12:24] zurk commented on #47
ping @vmarkovtsev ^

[2019-05-23 12:33] zurk commented on #10
I think the last point that should be done is to add a new option to use NN splitter in https://github.com/src-d/ml-core/blob/master/sourced/ml/core/algorithms/token_parser.py right?

[2019-05-23 12:37] #47 closed

[2019-05-23 12:38] vmarkovtsev commented on #10
Yep.

[2019-05-23 12:38] vmarkovtsev commented on #10
@glimow

[2019-05-23 12:43] warenlg commented on #60
User-testing session on source{d} CE Milestone 1 completed on my side

[2019-05-23 15:04] vmarkovtsev commented on #53
I am currently running the extraction on the machines from https://github.com/src-d/infrastructure/issues/599
ETA 2 weeks

[2019-05-23 15:07] vmarkovtsev commented on #62
Too late, no longer relevant.

[2019-05-23 15:07] #62 closed

[2019-05-23 15:11] vmarkovtsev commented on #69
I am currently running a robust collection again. The previous process just stopped writing results for an unknown reason. The result is split into chunks, and it is possible to continue without losing the progress.

`/user/legacy/backup/ghtorrent`

[2019-05-23 15:12] vmarkovtsev commented on #64
Done

[2019-05-23 15:12] #64 closed

[2019-05-24 08:25] Guillemdb commented on #63
These are the projects that have names on their CI stages. If there is any project missing please tell me and I will add it.
**ML-core**: https://github.com/Guillemdb/ml-core/blob/master/.travis.yml
**ML-mining**: https://github.com/src-d/ml-mining/blob/master/.travis.yml
**eee-commit-time-series**: https://github.com/src-d/eee-commit-time-series/blob/master/.travis.yml
**Lookout-sdk-ml**: https:/

[2019-05-24 08:25] #63 closed

[2019-05-25 18:15] vmarkovtsev opened #71 "[research] Check how many "buggy" typos are real"
Due to the bug in the code for typos dataset extraction, I detected a small number of typos in 120k random repositories. I need to apply our post-filtering to the results to measure how many are real typos. Then we can calculate the chance to find a typo by random chance.

Data: [typos_random.zip](https://github.com/src-d/ml-backlog/files/3219598/typos_random.zip)

[2019-05-28 09:24] r0mainK commented on #65
## Update

 as Vadim told me, a paper named [import2vec](https://arxiv.org/pdf/1904.03990.pdf) was released at MSR 2019. As it is pertains directly to this task, going to summarize and give my thoughts on it here.

**Idea:** with the growing amount of packages/modules available, navigating them becomes more and more problematic. Therefore, the authors thought it would be interesting to apply ML te

[2019-05-28 12:30] EgorBu commented on #71
I will launch https://github.com/src-d/style-analyzer/blob/master/lookout/style/typos/research/eval_dataset/prepare_dataset.py (with small modifications to read a new type of data) on this dataset

[2019-05-28 13:22] zurk commented on #71
Also, @irinakhismatullina add additional advanced filtering to solve https://github.com/src-d/ml-backlog/issues/57 in https://github.com/src-d/style-analyzer/blob/master/lookout/style/typos/research/eval_dataset/filter_dataset.py
I think it is worth to run it too.

[2019-05-28 13:55] EgorBu commented on #71
yep, worth to add this step

[2019-05-29 04:38] vcoisne commented on #55
@warenlg @vmarkovtsev @m09 How many blog posts will we have in the end and what are the target dates for publication ? Trying to get some visibility on our content calendar.

[2019-05-29 13:47] EgorBu commented on #71
# Summary:

The initial number of samples is 1364 (one sample includes one typo only)

## Deduplication by wrong/correct field

Number of good samples after deduplication 1354.
Not a huge difference probably because of subsampling.

### Important notice - all checks are done independently on deduplicated dataset to have an understanding of the importance of this type of check.

## Check number of

[2019-05-30 06:27] #71 closed

[2019-05-30 06:34] vmarkovtsev commented on #70
Done

[2019-05-30 06:34] #70 closed

[2019-05-30 12:33] r0mainK commented on #65
## Update

Okay, so as of now I am collecting a dataset of abut 10k repos per language, in order to create the embeddings. We have talked with Vadim on how to evaluate the quality of embedding, in order to compare models and select the best. The end goal being project similarity, as we do not have a dataset of similar libraries, this is a tricky question. We have come up with three ways to compare

[2019-06-03 10:31] glimow commented on #10
Didn't have notification, just saw your message @vadim.
The code is already written, will handle that while docker dataset is downloading. I will have to publish a new model to src-d/models though because we changed the model name

[2019-06-03 13:52] vmarkovtsev commented on #55
Waren is on vacations till 14th, and I am going to vacations on 24th. I scheduled a meeting with Waren and Hugo on 14th to discuss our opportunities and plans. I would say that we will certainly not finish anything in June, and the most likely date of the first post is at the end of July.

[2019-06-03 19:55] vcoisne commented on #55
@vmarkovtsev What about a quick MSR recap blog post in June with some tweet, link to slides from your favorite talks, photos from the conference and beer payback event, etc ?

[2019-06-03 21:35] vmarkovtsev commented on #55
That's an option, sounds reasonable...

[2019-06-04 12:27] warenlg commented on #55
From what I've seen this year, I suggest that we could write blog posts about the following topics/people:

* [friend] [Stefano Zacchiroli](https://twitter.com/zacchiro) from Software Heritage on their impressive contribution with their 85 million repositories dataset
* [friend] [Katsuro Inoue](http://sel.ist.osaka-u.ac.jp/people/inoue/) - author of CCFinder, pioneer in code deduplication
* [Rob D

[2019-06-05 08:57] vmarkovtsev opened #73 "[cluster] Optimize jh-cuda-python image for size"
Out k8s setup loads the whole image into memory. It is currently 8 gigs. We need to explore how the size can be reduced.

[2019-06-05 17:03] vmarkovtsev commented on #73
I did what I could.

[2019-06-05 17:03] #73 closed

[2019-06-05 17:03] vmarkovtsev commented on #73
https://github.com/src-d/infrastructure-dockerfiles/pull/26

[2019-06-06 17:08] r0mainK opened #74 "Extract UAST from the HEAD of PGAv2"
## Context

As soon as Infra team has [copied PGAv2 to the ML cluster](https://github.com/src-d/infrastructure/issues/788), we will start using it often. Most of the time, we will be extracting UAST from the HEAD, and then do something. There is no reason to repeatedly query Gitbase to do this, so we should do it only once.

## Task

Use GitBase to extract and store for all parsable files of the H

[2019-06-07 12:03] r0mainK commented on #74
So, after [asking LA](https://src-d.slack.com/archives/C7UDG9VNY/p1559899858020900), it seems that they have discussed it and developed some prototypes, but they have nothing operational. Hence, we will not be compressing the UASTs, and will rely purely on Parquet for compression.

Once the Spark cluster is usable, PGAv2 is ready, and I create the features for [imports task](https://github.com/src

[2019-06-11 15:58] r0mainK commented on #74
PGAv2 has been copied to the cluster, and Spark-Gitbase are usable. Currently I'm cleaning up the `/user/repositories` directory to only have PGA in it, it should take until tomorrow at the current speed, but then will try to do this after the imports task - so I can assess the problems of dealing with so much data.

[2019-06-12 09:22] r0mainK commented on #74
After talking to Vadim about progress on this, decided to start doing it now. Going to test out different schemes for compression via parquet, as well as see if I'm able to scale things with spark and gitbase-spark-connector-e.

[2019-06-13 15:47] r0mainK commented on #65
Blocked until #74 is done.

[2019-06-13 16:01] r0mainK commented on #74
Okay, so [this answer from Miguel](https://src-d.slack.com/archives/C7UDG0GP6/p1560435374079100) and the following messages discussions with Maartje made quite clear that:

- There needs to be multiple instances of GitBase, pointing to subsets of the data, if you want to distribute queries.
- When working with large amounts of repositories like in the case of PGA, using only one instance will not

[2019-06-14 10:28] vmarkovtsev commented on #55
https://github.com/src-d/minutes/pull/614

[2019-06-18 08:41] vmarkovtsev commented on #55
The planning is done.

[2019-06-18 08:44] vmarkovtsev opened #75 "Publish the typos dataset"
- [x] Extract the raw typos from the [commit messages dataset](https://github.com/src-d/datasets/tree/master/CommitMessages) - Vadim
- [x] Run the filtering - Egor
- [x] Publish on src-d/datasets both the raw YAMLs and the filtered CSV - Vadim

[2019-06-18 08:45] vmarkovtsev commented on #53
Superseded by #75

[2019-06-18 08:45] #53 closed

[2019-06-18 15:26] m09 opened #76 "Topic Modeling for source code"
Research the most insightful ways to apply topic modeling to source code.

- [x] Review existing literature: https://www.overleaf.com/project/5d08f6a87120c16bc25ea82a
- [ ] Experiment on http://github.com/tensorflow/tensorflow/ (80+ releases) and https://github.com/pytorch/pytorch/ (20+ releases):
    - [ ] Find the best way to automatically label topics
    - [ ] Research how to circumvent the ne

[2019-06-18 15:35] m09 commented on #6
There has been a lot of activity recently on this front. Should we close?

[2019-06-18 15:48] m09 commented on #50
Since then, we also participate in [CodRep 2019](https://github.com/KTH/codrep-2019) and met KTH people again in [ML4SE](https://ml4se.github.io/). We plan to collaborate with Benjamin, one of Martin's students, on developer similarity based on import graphs.

[2019-06-18 15:51] m09 commented on #44
Should this be transferred to src-d/feature-idea? @vmarkovtsev @EgorBu

[2019-06-18 16:03] vmarkovtsev commented on #50
Considering this as done. The follow-ups should be filed as needed.

[2019-06-18 16:03] #50 closed

[2019-06-21 10:09] warenlg opened #77 "Use language experience by LoC to cluster developers and projects in the same space"
Leverage the language distribution by LoC of both the developers and the repos of a given codebase, and cluster them showing similarities between one another. What has been done for now:

- [x] Fetched all the *src-d* repos and extract statistics from them - done with [hercules](https://github.com/src-d/hercules)
- [x] Reconstructed the identities using connected components
- [x] Aggregated the la

[2019-06-21 10:10] warenlg commented on #77
Results so far https://plot.ly/~warensourced/35/devproject-similarity-based-on-language-experience-loc-normalized-on-sourced-cod/#/

[2019-06-21 10:31] irinakhismatullina opened #78 "Publish the dataset of identifiers split by the biLSTM model"
In our [identifiers dataset](https://github.com/src-d/datasets/tree/master/Identifiers) we have splits made by the `TokenParser`, working on primitive heuristics.

Since the biLSTM model was finally [published](https://github.com/src-d/models/blob/master/id_splitter_bilstm/522bdd11-d1fa-49dd-9e51-87c529283418.md), we can add splits by that model to the dataset.

I already have them calculated and

[2019-06-21 10:31] irinakhismatullina commented on #78
@zurk @vmarkovtsev

[2019-06-24 11:14] zurk commented on #78
Can you please attach a file with diff between old and new datasets to see what exactly was changed. It can be very helpful.

[2019-06-25 17:54] vcoisne commented on #55
How is this coming along ? Can we create new issues on https://github.com/src-d/blog to track each post individually ?

[2019-06-26 16:03] r0mainK commented on #74
Had a [meeting with Alex](https://docs.google.com/document/d/12cTIJfqj95fZjyWft1uYxF1-HM5ebp0FlkfMGEHgSvs/edit?usp=sharing), updated checklist in consequence

[2019-07-02 08:26] EgorBu commented on #44
Good idea, @m09

[2019-07-02 09:55] m09 commented on #44
Somehow I cannot transfer it, GitHub does not find the feature-idea repo :confused:

[2019-07-08 11:35] vmarkovtsev commented on #74
Semantic.

[2019-07-08 11:37] vmarkovtsev commented on #74
We are meeting with Máximo tomorrow to discuss the problems, he has suggested to betray gitbase in favor of custom Go solution. Let's see.

[2019-07-10 15:29] m09 opened #79 "Try DVC as a collaboration workflow in RML"
During our recent exploration of ML collaboration tool-suites, we came across [`dvc`](https://dvc.org/), a well-established open source solution developed among others by the folks at [Open Data Science](https://ods.ai/), a community beloved by Russian speaking data scientists.

We'd like to give it a try since it fits really well with our values at source{d} and solves the core part of our proble

[2019-07-11 15:08] glimow opened #80 "Docker Image Analysis"
DockerHub stores millions of docker images, allowing anybody to download and run them. Among those images are databases, operating systems, web services, development environnements, applications, build tools and so on. For this reasons, DockerHub is an awesome dataset of millions of applications inside their own running environnement.

Thus, analysing this huge dataset could allow building tools t

[2019-07-11 15:09] glimow opened #81 "Retrieving the docker image dataset"
The list of docker images available on dockerhub is not publicly available. [Schermann et al. 2018](https://www.ifi.uzh.ch/dam/jcr:fa0e4bab-cc15-4a27-b403-ef4f550daba1/msr18-docker-data.pdf) crawled github to find docker images repository, but this is not suitable for our case. I used the [dockerhub website API](https://hub.docker.com/search?q=&type=image), which has a bug and do not support fetch

[2019-07-11 15:11] glimow opened #82 "Pruning the list of images"
Related to https://github.com/src-d/ml-backlog/issues/80

As downloading all those images would be too long, I tried to eliminate the ones that we do not wanted to analyze: those not based on supported distributions and those that have no python and node packages. In order to do that we forked [skopeo](https://github.com/containers/skopeo), an open source go tool to fetch additional metadata -incl

[2019-07-11 15:12] glimow opened #83 "Docker Image FS level Analysis"
The in-depth analysis script works like the following:

- For each image as input
    - download it
    - mount its filesystem
    - run a custom subscript to find its distribution
    - launch a subscript dedicated to finding native packages for this specific distribution
    - launch a subscript dedicated to finding python packages
    - launch a subscript dedicated to finding node packages

[2019-07-11 15:15] glimow opened #84 "Library Embedding using co-occurence in Docker Images"
Embedding already has been used on software library or source code ([Alon et al. 2019](https://urialon.cswp.cs.technion.ac.il/wp-content/uploads/sites/83/2018/12/code2vec-popl19.pdf), [Theeten et al. 2019](https://arxiv.org/pdf/1904.03990.pdf)). But we need to introduce two novel type of embeddings: docker image embedding and docker image libraries embedding. We used Swivel ([Shazeer et al. 2016](

[2019-07-11 15:27] glimow opened #85 "Predict Docker Image Size given lib embedding"
I used a simple keras MLP with two hidden layers of 100 neurons and a mean squared error loss.

[code]
![](https://markdown.data-ensta.fr/uploads/upload_312aacde9bfa8bed2d80b0fd2ea8447a.png)

![](https://markdown.data-ensta.fr/uploads/upload_f47e7437b1593566b376068626b9e21e.png)

![](https://markdown.data-ensta.fr/uploads/upload_e6981c3310c1b03c11f3d3f7d2aee831.png)

The neural network quickly con

[2019-07-11 16:24] m09 commented on #80
Thanks @glimow for the great issues! Did you request a repo to infra to put your code in it? I see you have a personal repo for now, but it'd be great to have it in src-d's org :) Let me know if you need help on that.

[2019-07-11 16:34] glimow commented on #80
@m09 Yup I hosted this on a personal repo after asking @vmarkovtsev, because he wanted to double check the code before hosting it under sourced's banner.
also UPDATE: we have 50,000 images since python lib update. I suspect most of the limitations come from the amount of data that is limiting the embedding's quality. I will embed again when I have ~100k images.

[2019-07-11 16:41] vmarkovtsev commented on #80
@glimow Normally you run a basic frequency analysis and cut the rare libraries, that should help with embeddings.

[2019-07-11 16:42] glimow commented on #80
@vmarkovtsev actually the prepscript already does that for me (by default skipping <5 occurence libs)

[2019-07-12 10:41] glimow opened #86 "Inferring Docker image native libraries given Python libraries with seq2seq model"

[2019-07-12 15:34] vmarkovtsev opened #87 "BPE the identifier dataset and publish the new model"
As discussed on the reading club, we should run https://github.com/google/sentencepiece on our identifiers dataset and produce a nice compact ASDF in Modelforge to embed any identifier.
That model can be further integrated somewhere near our ID splitter.

[2019-07-12 15:35] vmarkovtsev commented on #87
Assigning myself - please let me do something interesting along with the endless meetings, hehe.

[2019-07-16 18:01] r0mainK opened #88 "[eng-demo] Crypto detection"
## Context

@eiso told @vmarkovtsev  on a call that many clients showed interest in seeing the places in the code where they deal with cryptography, so we are going to do it. This is intended to be a fast exploratory task, if the clients are interested we will look more into this.

## Task

**input :** set of files in a gitbase instance
**output:** SQL table with metadata relating to each file (`r

[2019-07-17 08:14] warenlg commented on #88
With such an output table, I confirm that I could compile a nice dashboard on the usage of crypto libraries. Adding to the output table `commit_author` and `commit_author_when` could be nice, otherwise I'll retrieve them from the hash.

[2019-07-17 14:50] r0mainK commented on #88
**Update**

1. Downloaded the topic model.
2. Went through the index, found 3 categories of interest but will only use the two first, as the last might create some problems since it is mixed : `AWS libs + security (SSL, OAuth, Certs)`
3. Extracted list of crypto tokens from both topic models, found ~59k tokens. I selected the ones with a probability over 1e-4, which led to reducing the list to 295

[2019-07-17 14:53] vmarkovtsev commented on #88
@r0mainK Can you please share the blacklist, too? The link which you gave looks like a white list with 1592 elements.

[2019-07-17 14:55] r0mainK commented on #88
@vmarkovtsev for now it is only:

[code]

[2019-07-17 14:57] vmarkovtsev commented on #88
@smola I've just realized that we are discussing a closed-source project here in a public repo. I wonder if it fine or we should split our backlog into public and private parts or just make it private.

[2019-07-17 14:59] eiso commented on #88
It is fine to keep open as long as we don’t mention client names.

[2019-07-17 17:15] r0mainK commented on #88
So you can find [here](https://gist.github.com/r0mainK/41ccfc784ff2ac18f00fa48b101814dc) the gist with the updated blacklist and whitelist (which is not shown, as it's way bigger). I used a cutoff topic prob of 1e-6, and a cutoff ratio of 2.5. There are now more tokens, a bit less then 4k, but the list seems much more complete (`sha` is back in there for instance) and closer to the truth in genera

[2019-07-19 11:56] vmarkovtsev opened #89 "Test Python 3.8 in the CI, switch from xenial to bionic"
Update all our `.travis.yml`-s.

[2019-07-24 13:14] m09 commented on #55
Forgot to reply on this issue aswell but it was decided in DMs on slack that we should indeed create them some time ago. I'll do it for the posts that we did not start yet.

[2019-07-24 13:42] m09 commented on #55
As you could see from the reference spam above, we now have issues for all the blog posts left to write, please comment on the issue when you start working on a post to avoid duplication of effort! :)

[2019-07-24 14:04] vmarkovtsev opened #90 "Add the missing Jupyter notebook about code duplicates"
Egor needs to submit the notebooks which he used to select the code pairs for labeling and to analyze the results to https://github.com/src-d/datasets/pull/147

[2019-07-30 08:59] r0mainK commented on #88
Okay so from what I gathered, in the previous week:

- @vmarkovtsev used my code as a base to run Crypto Detection on one of our client's repositories, ran into know issues with [memory leaks in the bblfsh python client](https://github.com/bblfsh/python-client/issues/167) and [caching in gitbase](https://github.com/src-d/gitbase/issues/922), as well as some others, but still managed to do the extr

[2019-07-30 10:56] vmarkovtsev opened #91 "Update awesome-machine-learning-on-source-code with the recent papers"
I feel that we are missing many new papers.

[2019-07-31 08:16] r0mainK commented on #88
OK closing this

[2019-07-31 08:16] #88 closed

[2019-07-31 11:26] EgorBu commented on #90
Add notebooks in this [PR](https://github.com/src-d/datasets/pull/149)

[2019-08-01 13:57] EgorBu commented on #90
I think it should be closed. Feel free to reopen if something else should be added

[2019-08-01 13:57] #90 closed

[2019-08-02 11:39] EgorBu commented on #91
I will add:

* [Learning Compositional Neural Programs with Recursive Tree Search and Planning](https://arxiv.org/abs/1905.12941v1) from `..., Nando de Freitas`

* [Program Synthesis and Semantic Parsing with Learned Code Idioms](https://arxiv.org/abs/1906.10816v2)  from `Richard Shin, Miltiadis Allamanis, Marc Brockschmidt, Oleksandr Polozov`

* [Modeling Vocabulary for Big Code Machine Learning]

[2019-08-05 10:01] vmarkovtsev commented on #79
@m09 I guess we've done everything and can close this?

[2019-08-05 10:01] vmarkovtsev commented on #68
Done

[2019-08-05 10:01] #68 closed

[2019-08-05 10:03] vmarkovtsev commented on #58
This happened in "source{d} datasets, a blog series" post which is scheduled for tomorrow.

[2019-08-05 10:17] vmarkovtsev commented on #74
I coded https://github.com/src-d/datasets/tree/master/PublicGitArchive/pga2uast to do the task.
There are 3 stages:

- [ ] Parse everything with aggressive parallelization. (Vadim)
- [ ] Parse the OOMed sivas with very conservative parallelization. (Vadim)
- [ ] Verify the result and find which files could not be parsed in each HEAD. (Romain)

[2019-08-05 10:24] vmarkovtsev commented on #74
We used the 7 nodes given by the infra, mining-5 to mining-11.

Size of the result from the first stage: 4.5TB.
Number of OOMed sivas: 211.

Current progress of the second stage: 17/211 in 3 days. This means ETA is 34 days. However, I am using a single node. Once the DockerHub mining is over I will be able to spread the load over all the 11 nodes.

[2019-08-05 10:30] vmarkovtsev commented on #86
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:30] #86 closed

[2019-08-05 10:30] vmarkovtsev commented on #85
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:30] #85 closed

[2019-08-05 10:30] vmarkovtsev commented on #84
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:30] #84 closed

[2019-08-05 10:31] vmarkovtsev commented on #83
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:31] #83 closed

[2019-08-05 10:31] vmarkovtsev commented on #82
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:31] #82 closed

[2019-08-05 10:31] vmarkovtsev commented on #81
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:31] #81 closed

[2019-08-05 10:32] vmarkovtsev commented on #80
Tristan's internship has ended. The artifact is https://github.com/src-d/docker-image-analysis which is going to become public.

[2019-08-05 10:32] #80 closed

[2019-08-05 10:32] vmarkovtsev commented on #10
This is done. https://github.com/src-d/ml-core/pull/26

[2019-08-05 10:32] #10 closed

[2019-08-05 10:34] vmarkovtsev commented on #66
Assuming that everybody has learnt Go because it was enough time for that :D

If you haven't, you are going to have some trouble with working on our Go projects, but not much really.

[2019-08-05 10:34] #66 closed

[2019-08-05 10:35] vmarkovtsev commented on #5
Romain, you will be able to do this one the collected UASTs from PGAv2.

[2019-08-05 10:36] vmarkovtsev commented on #6
This is done actually, so yes.

[2019-08-05 10:36] #6 closed

[2019-08-05 10:37] vmarkovtsev commented on #3
This is done following the split of ml into ml-core and ml-mining.

[2019-08-05 10:37] #3 closed

[2019-08-05 10:38] vmarkovtsev commented on #5
Please remember to use ml-mining for the code. You'd probably like to nuke 50% of the code from there, that's OK.

[2019-08-05 10:39] vmarkovtsev commented on #78
Assigning Waren. TBD when he returns from vacations.

[2019-08-05 10:41] vmarkovtsev commented on #69
This has moved under the scope of https://github.com/src-d/eee-identity-matching

[2019-08-05 10:41] #69 closed

[2019-08-05 10:42] vmarkovtsev commented on #89
`scipy` does not have the wheels for 3.8 yet, so while it is possible to request `3.8-dev` in Travis, waiting 20 minutes for the build from source is impractical. This is blocked.

[2019-08-05 10:43] vmarkovtsev commented on #75
done in https://github.com/src-d/datasets/tree/master/Typos

[2019-08-05 10:43] #75 closed

[2019-08-05 10:44] vmarkovtsev commented on #67
Oh hell yeah we've played enough.

[2019-08-05 10:44] #67 closed

[2019-08-05 10:44] vmarkovtsev commented on #77
This is done.

[2019-08-05 10:44] #77 closed

[2019-08-05 10:47] vmarkovtsev commented on #61
We tested it. We found two major problems.

1. Leaks, see https://github.com/bblfsh/python-client/issues/167
2. Incomplete compatibility layer, fixed in https://github.com/bblfsh/python-client/pull/172

Resolution: once the leaks are fixed, we will be able to switch to UASTv2. src-d/ml-core has already been updated in https://github.com/src-d/ml-core/pull/33

[2019-08-05 10:47] #61 closed

[2019-08-05 10:48] vmarkovtsev commented on #59
The blog post partially covers it. Only partially, unfortunately.

[2019-08-05 10:49] vmarkovtsev commented on #55
The blog posts have been planned. The original issue can be closed now.

[2019-08-05 10:49] #55 closed

[2019-08-05 10:49] vmarkovtsev commented on #8
Relates to #61

done by @zurk

[2019-08-05 10:49] #8 closed

[2019-08-05 10:51] vmarkovtsev commented on #54
We are so far away from the best practices right now. We should close this and file a new one with a better understanding of the goals. The demos should certainly help.

[2019-08-05 10:51] #54 closed

[2019-08-05 10:52] vmarkovtsev commented on #60
Assuming that everybody has played.

[2019-08-05 10:52] #60 closed

[2019-08-05 10:53] vmarkovtsev commented on #17
@r0mainK this is all yours now.

[2019-08-05 10:55] vmarkovtsev commented on #17
Actually... @m09 do you think you can do this after Romain engineers a stable UAST processing pipeline? The guy already has a few tasks related to UASTs...

[2019-08-05 10:57] r0mainK commented on #17
@vmarkovtsev since this is basically a follow-up of [the identifier extraction](https://github.com/src-d/ml-backlog/issues/5) I don't mind doing this as well

[2019-08-05 10:59] vmarkovtsev commented on #17
ok

[2019-08-05 11:17] m09 commented on #79
Even though we used it extensively for single-user repos (both @glimow and I), we did not try to collaborate much yet. We'll do it this week with @r0mainK and close the issue with concluding comments after that :)

[2019-08-05 11:20] m09 opened #92 "Document best practices for research projects"
We lack a proper documentation of best practices for the research team projects.

[2019-08-05 12:01] zurk commented on #59
we have PR with a guide actually https://github.com/src-d/company/pull/264

[2019-08-05 12:03] zurk commented on #89
related: https://github.com/src-d/ml-core/pull/34

[2019-08-05 12:33] vmarkovtsev commented on #59
Done, merged.

[2019-08-05 12:33] #59 closed

[2019-08-05 15:37] m09 commented on #44
Calling @smola to the rescue to transfer the issue to feature-idea :)

[2019-08-05 16:12] vmarkovtsev commented on #46
Yes!!! I did it! Thanks to @smola's "janitor".

[2019-08-05 16:12] #46 closed

[2019-08-09 12:55] r0mainK commented on #74
Just finished the sanity check on the Siva files that were parsed via aggressive parallelization. My workflow was the following:

- I tried to load and read contents of a single parquet: **success**
- I tried to load and read contents of a whole subdirectory (`00`): **success**
- I tried to load and read contents of all PGA, to compute a CSV with metadata (`subrepo`, `siva hash`, `repo uuid`, `lis

[2019-08-09 13:08] vmarkovtsev commented on #74
Great report @r0mainK

This means that I need to re-process a small fraction of files which are corrupted.

[2019-08-09 13:14] r0mainK commented on #74
Thks, yep the listings are in `/user/r0maink/sanity/corrupt_pq_1.txt` and `/user/r0maink/sanity/corrupt_pq_2.txt`, if you can put them in a separate directory under `/spark_storage/pg1.v2.v2` or something so I can process them directly it would be great. As it's only ~50GB it should not take too long - and hopefully the error will not repeat itself.

[2019-08-09 22:36] vmarkovtsev commented on #74
The new files were generated and overwritten over the corrupted ones. @r0mainK Please test once again, there shall be no corruptions this time.

I had to write them directly, unfortunately.

[2019-08-10 09:10] r0mainK commented on #74
@vmarkovtsev no problem, anyway I did not know this but when you call a `repartition` on a `DataFrame`, it turns out you can't use the built in `input_file_name` so the 2 colums for the subdir and siva fp were empty in each row -_-"

So I launched the test once again, will post results once I have them.

[2019-08-10 15:58] r0mainK commented on #74
Okay, the job finished in 5h30 (the `repartition` really was a dumb idea, removing it halved process time), I checked the file is good. It is slightly bigger - especially in term of # files as could be expected from the size of the old corrupted files:
- 2.06 GB (instead of 2.02 GB)
- 216,922 lines (instead of 216,752)
- 33,315,834 files (instead of 32,851,320)

[2019-08-20 08:56] vmarkovtsev commented on #74
I have created https://github.com/src-d/datasets/pull/158 to list the siva HEADs.

I launched the listing with 32 goroutines on the ML cluster, it digested 17% in 18 hours. ETA 4 days.
I will have to interrupt it on Wednesday though.

[2019-08-21 16:46] vmarkovtsev commented on #74
I parsed the OOMed sivas. I was able to process 204/211 files. The results are merged with the main dataset.

@r0mainK it is time to run the check again!

Regarding the listing, it is 80% complete. ETA Friday.

[2019-08-21 19:08] r0mainK commented on #74
Awesome, I've relaunched the process with the same config, let's see how it goes - I expect it to be done by tomorrow, unless something goes horribly wrong :crossed_fingers:

[2019-08-22 07:43] r0mainK commented on #74
@vmarkovtsev  extraction completed ! It ran in 6 hours 8 mins, so a bit more then last time. Unfortunately, it was not 100% of all files, there are currently 835 siva/parquet files missing from the old index. I cross checked, and it seems all the missing files where from the `00` subdirectory, which contains a bit over that amount of files, _surprisingly_.

So I tried to read and count it, and it

[2019-08-22 08:33] vmarkovtsev commented on #74
I am still listing files in PGA, so the FS performance was degraded.

I have renamed `/spark_storage/the_bad_siva/` to `/spark_storage/bad_uasts/`.

I didn't fully get 835. You are saying that there 835 siva files under `00` which are in the index but not extracted, right?

[2019-08-22 08:54] r0mainK commented on #74
@vmarkovtsev no what I meant was that there were 835 missing files in the new index, that where already present in the previous index. This was due to the fact that there was one corrupt file added to the`00` subdir that made the job on that subdir completely fail, thus making the 835 files, plus the new ones, not appear in the in new index. But all of those files were extracted successfully, Spar

[2019-08-23 05:28] vmarkovtsev commented on #74
The file listing is at:
[code]

However, the listing has 148230 files compared to 204069 uasts. Weird. I have to re-launch the listing on the missing files.

I renamed `/spark_storage/uast_pga.v2` to `/spark_storage/uasts_pga.v2`

[2019-08-23 06:35] vmarkovtsev opened #93 "Publish DockerHub dataset"
I finished analyzing DockerHub images after @glimow left.

I had to restart on 100k images which were not extracted during the first pass. That gave me +30k.

The `packages` directory needs to be compressed and packaged as a dataset.

[2019-08-23 07:01] vmarkovtsev commented on #93
Link to the packages archive: https://drive.google.com/file/d/1IZ0CO-MqEWNWd3Ud3pDsX6t8tPslY0Xu

[2019-08-23 17:07] vmarkovtsev commented on #74
@r0mainK The listing is finally over! 205546 files.

[code]

**The structure is flat, there are no subdirs.**

[2019-08-26 05:51] vmarkovtsev commented on #74
I set the access for all dirs and subdirs in `/spark_storage` to `555`. We've got

* `sivas_pga.v2` - the original PGA
* `uasts_pga.v2` - UASTs
* `files_pga.v2` - listing
* `bad_siva` - temporary, to be deleted

[2019-08-26 08:20] r0mainK commented on #74
I have made a check on the processed index, the `14` subdir was not processed - the spark jobs on it failed with an OOM Java error. I traced back the origin of the problem to a single files (`14/147288108757caed09e0c65d9ec098b821129eba.parquet`) which I added to `bad_uasts` directory. Relaunching processing. Once it is done, I will finish up this task.

[2019-08-26 17:35] r0mainK commented on #74
Okay so I finished the extraction, without any errors :100: I did find there was an issue with parquet file `61/614fa43723122e2a8318d65104991163b9915d72.parquet` (it was empty) so I moved it to the `bad_uasts` folder.

As expected, the CSV file is a bit bigger (2.24 GB), and now contains  218,081 lines (UUID-Siva/Parquet files pairs), and a total of 36,109,756 files across all repos. This means th

[2019-08-26 17:41] vmarkovtsev commented on #74
Awesome!

Is it possible to study per language, also to gather repo/paths of files which could not be extracted?

[2019-08-26 17:55] r0mainK commented on #74
@vmarkovtsev was about to edit my message above :p So yeah that's on me actually, I think I had mentionned in meetings it would be useful to have the language of each file in the parquet files, but I forgot to put it down by writing in this issue. So currently, I could only do this using Regexp with the filenames. I already had some experience doing this way back for the apollo blogpost, when we h

[2019-08-26 18:36] vmarkovtsev commented on #74
OK, I will edit the code and re-launch the listing tomorrow.

[2019-08-27 07:01] vmarkovtsev commented on #74
I launched the new listing

[2019-08-27 07:37] vmarkovtsev commented on #74
It is funny that we've got 317150 files only in the UASTs. I hope that this time a clean run will be flawless.

[2019-08-27 07:42] r0mainK commented on #74
Yeah, it's surprising, especially as all of those files are in repos that were listed at least in part.

[2019-08-27 16:02] vmarkovtsev commented on #93
https://github.com/src-d/datasets/pull/162

[2019-08-27 16:11] vmarkovtsev commented on #93
Done

[2019-08-27 16:11] #93 closed

[2019-08-28 06:26] vmarkovtsev opened #94 "Plot the PGA processing time distribution"
I've got the logs from extracting the UASTs: https://drive.google.com/file/d/1v15EtPLd9q7jW9swX_B-7dz3N__-Nrg4

We need to plot the distribution of processing times. They are in seconds and can be extracted by a regular expression.

[2019-08-28 10:57] warenlg commented on #94
Do you want it by subdirectory like that?

![PGA_processing_time_distrib](https://user-images.githubusercontent.com/24694845/63849860-364e7e00-c993-11e9-9a18-350ac3e1dd48.png)

[2019-08-28 10:58] warenlg commented on #94
And the errors:
[code]

[2019-08-28 14:44] vmarkovtsev commented on #94
Thanks!

[2019-08-28 14:44] #94 closed

[2019-08-28 16:02] warenlg commented on #94
If you want it at the siva file granularity

![PGA_processing_time_distrib_siva](https://user-images.githubusercontent.com/24694845/63872409-f05adf80-c9bd-11e9-89e8-743d93515eb8.png)

[2019-08-28 16:03] warenlg commented on #94
And the top 100 slower siva files

[code]

[2019-08-29 13:03] vmarkovtsev commented on #56
@Guillemdb You can start looking into this while you are waiting for Spark jobs to finish.

[2019-08-29 19:09] vmarkovtsev commented on #74
Writing this while I remember. An important detail how we should calculate the success rate: it must be calculated on the intersection of <sivas listed> x <uasts extracted>. In other words, we should ignore listed siva files which were not at least partially extracted.

The reason is that a failure to extract a siva is not necessary due to Babelfish: the file can be just too big for the given hard

[2019-08-29 19:46] r0mainK commented on #74
Ah yeah, nice point I had not considered it :100:

I just recomputed the values, by defining the _real_ union with your definition, ie files in sivas where at least one file was extracted. I found 38,500,270 files, which is 94.82 % of the previous union. This means that:
-  we actually were able to extract 92.66 % of files, not 87.86 % :+1:
- we failed to process ~ 5.2 % of the files, which were f

[2019-08-30 05:56] vmarkovtsev commented on #74
@r0mainK The new listing has finished, it is in the same place. 205283 files. As you see, this number is less than the previous one and I am going crazy to find out why. I need to find the missing names and re-launch on them.

[2019-08-30 06:58] vmarkovtsev commented on #74
Update: I found the missing 801 files, listed them and put to the output directory. Now the overall count is 206084 and we should not have weird files that are present only in the uasts.

Please run the stats per language!

[2019-08-31 07:33] vmarkovtsev opened #95 "Repair native extension build in fastdtw"
`pip3 install fastdtw` does not build the native extension sometimes. We need to figure out why, and submit a fix upstream if appropriate.

[2019-08-31 07:39] vmarkovtsev opened #96 "Figure out why the newer ortools misbehave in `seriate`"
Guillem has reported that Google's ortools used in [src-d/seriate](https://github.com/src-d/seriate) fail to find the shortest path if the version is newer than 6.9.5824.

- Why?
- Fix the problem in `seriate`.

[2019-09-02 14:58] r0mainK commented on #74
@vmarkovtsev running the stats noew, however still missing 97,049 files in the listing. They come from 402 siva files, all of which were in the listing (save for the repos). No idea why they were not listed.
Anyway, the exact list is here: [missing.txt](https://github.com/src-d/ml-backlog/files/3566498/missing.txt)

I will update today with language stats

[2019-09-09 09:31] r0mainK commented on #74
OK so this is is the final report (hopefully). In the following, I'll be calling **extracted rate** the ratio of files extracted over all files, and **success rate** the ratio of files extracted over files in repositories at least partially extracted (ie where Babelfish errored, not something else). I'll also be calling **theoretical** the listing Vadim created from crawling PGA, and **processed**

[2019-09-09 10:59] #74 closed

[2019-09-09 11:04] vmarkovtsev commented on #74
@r0mainK Is it possible to add the language to that CSV file with bblfsh errors?

`repo_uuid` is the repo name, correct?

[2019-09-09 14:37] r0mainK commented on #74
@vmarkovtsev Added language and repository name. Left the PGA metadata in case, anyway now schema is `subdir, siva, repo_uuid, repo_name, lang, file_path`.

The zipped CSV can be found [here](https://github.com/src-d/ml-backlog/files/3591042/bblfsh_errors.zip)

[2019-09-10 08:51] vmarkovtsev opened #97 "Publish the UASTs dataset"
We need to publish our UASTs dataset to src-d/datasets. There should be two formats:

* Parquet files (5TB)
* ClickHouse DB (400GB) - this requires some research, simple FS tar should be enough BUT the schema should be saved, too. Perhaps AlexAkulov/clickhouse-backup will work, we need to check if it preserves the indexes.

 We should include the reports from #74
There should be some sample code h

[2019-09-10 10:32] vmarkovtsev opened #98 "Create the issue about writing the paper about id matching"

[2019-09-10 18:18] irinakhismatullina commented on #95
I've tried several installs in a brand-new empty `ubuntu` docker.

`pip3 install fastdtw` pulls super old version of the package (like two years old) -> it's super outdated and most likely was not supporting fast C calculations.

However when using `pip3 install git+https://github.com/slaypni/fastdtw.git`, though the wheel for the binary is built judging by the install logs, there's still no built

[2019-09-10 18:40] #95 closed

[2019-09-11 07:11] r0mainK commented on #65
## Update

#74 is done so this will be resumed at the end of this week, once the ClickHouse DB has been recreated. Next steps will be:

1. Extract all imports from the ClickHouse DB, push to cluster (requires some minimal scripting as we loose a tiny bit of info with the flattened structure, but no biggie).
2. Test different ways of creating the COOC matrix.
3. Create the embedings matrices for im

[2019-09-11 11:23] warenlg opened #99 "Write a paper about our approach to match identities"
Target conference: MSR 2020 - Seoul, South Korea
Abstract deadline: 9 Jan 2020
Paper deadline: 16 Jan 2020

Topic: https://github.com/src-d/identity-matching
Overleaf shared with the machine-learning-research mailing list

[2019-09-11 11:29] warenlg commented on #98
Done https://github.com/src-d/ml-backlog/issues/99

[2019-09-11 11:29] #98 closed

[2019-09-22 07:36] vmarkovtsev commented on #97
All the UASTs have been pushed, beanstalkd queue after 4 passes:

[code]

1. 2-core, 4GB nodes, 2 file readers, 6 db pushers. Leaves 1.3k.
2. 2-core, 4GB nodes, 1 file reader, 1 db pusher. Leaves 250.
3. 2-core, 16GB nodes, 1 file reader, 1 db pusher, fixed DB error handling. Leaves 11.
4. 4-core, 32GB nodes, 1 file reader, 1 db pusher. Leaves nothing :tada:

[2019-09-23 08:33] r0mainK commented on #97
Alright ! So how do you want to release it ? I would propose adding to [the PGA directory](https://github.com/src-d/datasets/tree/master/PublicGitArchive) in `datasets` a new subdirectory (`extracted-uasts`) with as much information as possible:
- complete listing of files in each parquet,
- the reports in the issue #74 ,
- as you said some example code to DL and use

WDYT  ?

[2019-09-23 08:48] vmarkovtsev commented on #97
We could add that dir, yes. Can you please consult with the infra. I would name it just `uast` similar to existing `siva`.

[2019-09-26 17:46] r0mainK commented on #65
As discussed in the PR of last RML, I'm closing this issue - it's become way too long, and has changed too much over time to still be tracking anything. I'll link it to the new one to replace this.

[2019-09-26 17:46] #65 closed

[2019-09-26 18:10] r0mainK opened #100 "[research] deps2vec"
_This is a replacement for #65 which lasted too long to be effective._

## Context

### Theory

Two papers in MSR 2019 have shown that we can use dependencies graphs to extract information. Namely:

- [Identifying Experts in Software Libraries and Frameworks among GitHub Users](https://homepages.dcc.ufmg.br/~mtov/pub/2019-msr.pdf) showed we could profile developers via their modification of the de

[2019-10-10 20:57] vmarkovtsev opened #101 "File an issue in YouTokenToMe about the crash"
If the model path is bad

[2019-10-10 20:59] vmarkovtsev opened #102 "Develop go-YouTokenToMe"
- Ask to create `src-d/go-YouTokenToMe` in `src-d/infrastructure`
- Implement binary model loading - https://github.com/VKCOM/YouTokenToMe/pull/19
- Implement sentence encoding

[2019-10-11 09:30] vmarkovtsev opened #103 "Write the paper about our typos dataset"
Paper about the [typos dataset](https://github.com/src-d/datasets/tree/master/Typos) for [MSR'20 Data Showcase track](https://2020.msrconf.org/track/msr-2020-Data-showcase).

- Deadline: 6th February 2020 (abstracts January 30th)
- 4 pages + 1 page for the references
- Authors: Irina, Vadim, Waren
- Vadim handles the description of the dataset generation, Irina - everything else; Waren helps with

[2019-10-11 11:27] warenlg commented on #101
https://github.com/VKCOM/YouTokenToMe/issues/22

[2019-10-11 11:27] #101 closed, assigned to warenlg

[2019-10-11 14:09] r0mainK commented on #97
**Update :**

- The `pga` cli has been refactored and updated, we can now download the UAST dataset using it.
- [The issue](https://github.com/src-d/infrastructure/issues/1196) for the dump of the clickhouse dataset is open with low priority, no ETA yet.

**Work left**
- [x] Update the pga cli docs [here](https://github.com/src-d/datasets/tree/master/PublicGitArchive) and [here](https://github.com

[2019-10-14 09:10] vmarkovtsev opened #104 "File an issue in src-d/enry about language misclassifications in Tensorflow"
As we saw on Friday, enry sometimes does very poor job at classifying languages. We need to properly report this.

cc @lwsanty

[2019-10-14 12:26] EgorBu commented on #104
# Plan

* Select commit
* Launch `enry` and `linguist`
* Create mapping `{path: (enry_lang, linguist_lang)`
* Highlight caseswhen path has different predictions & group them by lang
* Provide script & statistics

[2019-10-23 10:00] smola commented on #104
If misclassifications come from linguist, make sure you open an issue at github/linguist too.

[2019-10-28 14:56] vmarkovtsev commented on #96
We found out why. The newer versions degraded the performance for our task, and we timed out. The new release of src-d/seriate takes care of that.

[2019-10-28 14:56] #96 closed

[2019-10-28 14:58] vmarkovtsev commented on #97
@r0mainK My plan is to create `PublicGitArchiveUASTs` top level directory with the links to two datasets. Also, link there from the regular PGA.

[2019-10-28 15:03] r0mainK commented on #97
@vmarkovtsev okay, getting onto that then

[2019-10-28 15:07] vmarkovtsev commented on #97
I will write the manual on how to work with Clickhouse now.

[2019-10-28 17:56] vmarkovtsev commented on #97
https://github.com/src-d/datasets/pull/170

[2019-10-30 10:02] r0mainK commented on #97
@vmarkovtsev I updated the post with the checklist for the status update. I think everything here is done, we can close this issue ?

[2019-10-30 10:56] vmarkovtsev commented on #97
Yes, this is all done.

[2019-10-30 10:56] #97 closed

[2019-10-31 11:53] rpau opened #105 "Suggest solutions for Technology Mapping [Veepee]"
You can check the parent epic if you have the ZenHub Chrome plugin.
The task consist of writing potential solutions for technology mapping with their pros and cons.

The document is [here](https://docs.google.com/document/d/1UsXNOxHjzsUtEy4U8-sgbu5IRpPKGu4GDeg5zTHR5D8/edit#heading=h.lb40rliutalz).